


<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/StyleSheet.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    </head>
<body>
<p>
    <div class="container text-left welcome">
        <h3>Jammr</h3>
        <p>Welcome to Jammr! A safe place to store your non-digital music, digitally! Upload all of your albums with all of their details including, tracks, year released, album art, and even your personal rating. Set up an account an start uploading your music collection today! </p>
    </div>
    </p>

 
    
    



</body>
</html>


